@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: "News Gothic Std";
    src: url(../font/NewsGothicStd.woff) format("woff"),
    url(../font/NewsGothicStd.otf) format("opentype");
}

h1, h2, h3, h4 {
    font-family: "News Gothic Std";
}
body {
    background-color: #736B65;
    font-family: "Open Sans", "sans-serif";
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
header {
    background-color: white;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    padding-left: 80px;
}
header nav div {
    flex-basis: 20%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}
header nav div a {
    text-decoration: none;

}
#home {
    background-color: #592A2E;
}
#home a {
    color: white;
}
body h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: white;
    font-size: 80px;

}
.slider-1 {
    max-width: 1160px;
    overflow: hidden;
}
.slider {
    display: flex;
    animation: slider-1 12s infinite ease-in-out;
}
.slider-1 img {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}
@keyframes slider-1 {
    0%,
    25% {
        transform: translateX(0);
    }
    30%,
    55% {
        transform: translateX(-100%);
    }
    60%,
    95% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.blog {
    width: 1160px;
    display: flex;
    background-color: white;
    color: white;
}
div h3 {
    padding-top: 10px;
    text-align: center;
    margin : 0px;
    background-color: #592A2E;
    height: 40px;
}
.blog div {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog div div {
    background-color: #736B65;
    width: 288px;
    align-self: center;

}
#blog-1 {
    margin-left: 120px;
}
#blog-3 {
    margin-right: 100px;
}
.articles {
    background-color: white;
    display: flex;
    justify-content: center;
}
.articles div {
    text-align: left;
    width: 300px;
}
.articles div input {
    background-color: #736B65;
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.articles div ul {
    list-style: none;
}
.footer {
    display: flex;
    background-color: white;
    flex-direction: row;
    border-top: black solid 2px;
    padding-top: 40px;
    padding-bottom: 15px;
}
#design_by {
    padding-left: 10px;
    flex-basis: 90%;
}
#socials {
    flex-basis: 10%;
    align-self: center;
}
.blog div div div {
    display: flex;
    justify-content: end;
}
.articles input:hover {
    background-color: white;
    border: #736B65 solid 2px;
    color:#736B65
}
footer img:hover {
    opacity: 70%;
}